{{#link-to 'q' q.id}}{{!-- router.js: {path: 'q/:qid'} --}}
  <div class="qTile">
    <h4>Q: <small>{{q.question}}</small></h4>

    {{log answers}}
    <h5>A: <small>{{answers.firstObject}}</small></h5>
  </div>
{{/link-to}}
