  <form class="newQ form">
    <div class="form-group">
      {{input value=asker  placeholder="User Name"class="w50" id="asker"}}
    </div>

    <div class="form-group">
      {{textarea value=question placeholder="Question?"}}
    </div>

    <button {{action "postQuestion"}}>Publish</button>
  </form>
