
<div class="new-question">
  <h2>New Question</h2>

  {{!-- <ul class="post-publish">
    <li>{{input value=question placeholder="Question"}}</li>
    <li>{{textarea value=user placeholder="user"}}</li>

    <li><button {{action "postQuestion"}}>Publish</button></li>
  </ul> --}}

</div>
