  <form class="newQ form">
    {{!-- If attributes are left unquoted they're seen as VARIABLES. --}}
    <div class="form-group">
      {{input value=asker  placeholder="User Name"class="w50" id="asker"}}
    </div>

    <div class="form-group">
      {{textarea value=question placeholder="Question?"}}
    </div>

    <button {{action "postQuestion" model=model}}>Publish</button>
  </form>
